@use "variables" as *;
@use "variables-mike" as *;
@use "mixins-mike" as *;



nav {
    display: flex;
    justify-content: space-between;
    .mainMenu {
        display: flex;
        list-style: none;
        li a {
            display: inline-block;
            // removing this temporarily:
            // padding: 15px;
            text-decoration: none;
        }
        .closeMenu {
            font-size: 2;
            display: none;
            cursor: pointer;
        }
    }
    .openMenu {
        font-size: 2;
        margin: 0.5rem;
        display: none;
        cursor: pointer;
        color: #fff;
    }
}

@media (max-width: $tablet-landscape) {
    nav{
        .mainMenu {
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: top 1s ease;
            display: none;
            .closeMenu{
                position: absolute;
                top: 20px;
                right: 20px
            }
        }
        .openMenu {
            display: block;
        }
        .mainMenu li a:hover {
            background-color: $branded-blue;
            font-size: 1.6;

        };
    };
    i {
        display: inline-block;
        padding: 12px;
        font-size: 2rem;
    }
}

// Finish the burger menu styles here
@media (max-width: $tablet-landscape) {
.mainMenu {
    background-color: $dark-gray-elements-transparent;
    margin-top: 0;

    // a {
    //     background-color: rgba($branded-blue, 0);
    // }
}
}