@use "variables" as *;

body {
  margin: 0;
}

.carousel {
  width: 100vw;
  position: relative;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%);
  opacity: 0;
  transition: 500ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  max-width: 300%;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.active-photo {
  opacity: 1;
}
// .carousel-nav {
//   display: flex;
//   position: absolute;
//   top: 80%;
//   width: 8%;
//   justify-content: space-around;
// }
.circle {
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
  background-color: white;
  margin: 0 0.5rem;
}
#carouselNav1 {
  background-color: $branded-blue;
}
#place-holder {
  display: block;
  opacity: 0;
}
#place-holder > img {
  max-width: 300%;
}
@media only screen and (min-width: 34rem) {
  img {
    max-width: 150%;
  }
  #place-holder > img {
    width: 150vw;
  }
  .slide {
    transform: translate(0%);
  }
  .slide > img {
    width: 150%;
  }
}
@media only screen and (min-width: 62.5rem) {
  img {
    max-width: 100%;
  }
  #place-holder > img {
    width: 100vw;
  }
  .slide {
    transform: translate(0%);
  }
  .slide > img {
    width: 100%;
  }
}
