@use "variables" as *;


/* Typography
--------------------------------------------- */


body {
    font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5;
	color: $text-gray;
	background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
	margin: 0;
}

h2{
    color: $dark-header-blue;
	font-size: 1.75rem;
}


h3{
    color: $branded-blue;
}

h4 {
	text-transform: none;
}

p {
	margin: 0.5rem;
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	border-collapse: collapse;
  	// width: 90%;
	margin: 0 auto;
}


// form field mixins
// inactive and extend active

form {
    
}

label {

}

select {

}

option {

}


// carousel circles
// extend blue active


/* Links
--------------------------------------------- */

// ctas
// extend full width product cta
// extend buttons with no background (transparent)

@mixin button-primary() {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	background-color: $branded-blue;
	border: none;
	border-radius: 0.0625rem;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
}

a {
    @include button-primary;
}

a.secondary {
	@include button-primary;
	background-color: rgba($branded-blue, 0);
	border: 1px solid #fff;
}

a.transparent-buttons {
	background-color: rgba($branded-blue, 0);
	text-transform: none;
	text-decoration: underline;
	color: $map-text-gray;
}

a:visited {
	
}

a:hover {

}

a:focus {

}

a:active {

}