@use "variables" as *;
@use "fonts" as *;
@use "variables-mike" as *;
@use "mixins-mike" as *;
@use "form-CTA" as *;


// ** // 
//total nav container
// ** // 
header {
    background-color: $dark-header-blue;

    #navigation-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: $dark-gray-elements-transparent;

        @include mq-tablet(900px){
            background-color: rgba($dark-gray-elements, 0);
            margin-top: 1rem;

        }

        img {
            margin-top: 0;
        }

        
}
}

// total navigation container
.total-navigation-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

@include mq-tablet($tablet-landscape){
    .total-navigation-container {
        display: block;
}
}

// ** // 
// main navigation container
// ** // 
.main-navigation-container {
    justify-content: space-around;

    a {
        background-color: $dark-gray-elements-transparent;
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem 2rem;

    }


}

// ** // 
// secondary nav container
// ** // 
.logo-container {
    grid-column: 1 / span 1;

    img {
        max-width: 50%;
        height: 4rem;
        margin-top: 1rem;
    }

}

// secondary nav (top level) container
.secondary-navigation-container {
    
    padding-left: 1rem;

    @media (max-width: $tablet-landscape) {
        // padding-left: 2rem;


    .desktop-left,
    .desktop-right {
        display: none;
    }
}
    a {
        font-size: 0.75rem;
        background-color: rgba($branded-blue, 0);
        text-decoration: none;
        margin: 0;
        padding: 0.5rem;
    }

    

    // tablet and higher styles
    @include mq-tablet($tablet-landscape){
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        div {
            @include display-flex-center($align-content: left, $align-items: left);
        }
    
        p {
            @include display-flex-center();
            margin: 0;
        }
    
        .desktop-left {
            grid-column: 1 / span 1;
    
        }
    
        .logo-container {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
        }
    
        .desktop-right {
            grid-column: 3 / span 1;
    
            i {
                background-color: #fff;
                border-radius: 50%;
                padding: 0.25rem;
                font-size: 0.625rem;
            }
    
            a {
                padding-left: 0.5rem;
            }
    
        }
    }
}

// ** // 
// hero text container
// ** // 
#hero {
    position: relative;
}

#hero-title-section {
    position: absolute;
    top: 60%;
    // bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // right: 50%;
    z-index:  200;
    width: 90%;

    text-align: center;

    @media only screen and (max-width: 360px) {
       top: 55%;
       
      }

    #hero-buttons {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin: 0 auto;

        a {
            margin: 0.25rem;
        }

        @include mq-tablet($mid){
            display: block;
            margin-top: 3rem;
            max-width: 100%;

            a {
                margin: 1rem;
            }
        }
    }

    @include mq-tablet($tablet){
        top: 50%;
        width: 60%;
    }

    @include mq-desktop(1000px){
        top: 60%;
    }
    
    h1 {
        margin: 1rem 0;
        color: #fff;
        font-size: 2rem;
        line-height: 3rem;

        @media only screen and (max-width: 360px) {
             
                font-size: 1.75rem;
                line-height: 2rem;
        
        }

    @include mq-desktop($tablet){
        line-height: 3rem;
    }
    }

    @include mq-desktop($desktop){

        h1 {
           
            font-size: 3rem;
            line-height: 4rem;
        }
    }

    .carousel-nav {
        // position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        // bottom: 0;
        // left: 0;
        // right: 0;
        margin: 1rem 1rem 2rem;

        @include mq-tablet($mid){
            margin: 3rem 1rem 1rem;
        }
    }
}











