@use "variables-mike" as *;
@use "mixins-mike" as *;
@use "variables" as *;

    .hidden-mobile {
        display: none;
    }

    .waste-collection h3{
        max-width: 16px;
    }

@media (max-width: 600px) {
    .waste-collection {
        @include display-flex;
        position: relative;
    }    
    .waste-collection::after {
        content: "";
        position: absolute;
        background-color: $text-gray;
        width: 90%;
        height: 1px;
        top: 0;
        left: 25px;
    }
}

@include mq-tablet($mid){
    .hidden-mobile {
        display: block;
    }
    .waste-collection {
        max-width: 15.625rem;
    }
    .waste-articles{
        @include display-flex;
        text-align: center;
        margin: auto;
    }
    .waste-collection h3{
        margin-left: 4.5rem;
        text-align: center;
    }
}

@include mq-desktop($desktop) {
    .hidden-mobile {
        display: block;

    }
    .waste-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: $center;
        align-items: $center;
        padding: 1rem;
        text-align: center;
        margin: auto;
    }
    .waste-collection h3 {
        margin-left: 4.5rem;
        text-align: center;
    }

}

#carousel {
    position: absolute;
    max-width: 100%;
    height: auto;
}